VITE_GOOGLE_MAPS_API_KEY=AIzaSyCU_HzSjYinNjeCIA3IwPWqJbeTjVZJHNk
VITE_SUPABASE_URL=https://bktksvhcgszaoqkdyhil.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_w7MhqJ0ruVjh40a-QWGjgA_aUw3hAe3
SUPABASE_URL=https://bktksvhcgszaoqkdyhil.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_w7MhqJ0ruVjh40a-QWGjgA_aUw3hAe3
VERCEL_TOKEN=your_vercel_token_here
VERCEL_PROJECT=abangcolek-os
VERCEL_TARGET=vprod
VERCEL_EMAIL=thisidowgnut@gmail.com
